<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.PokeHomeActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.PokiApplication" />
    </application>

</manifest>